
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px; 
}


h1 {
    text-align: center;
    margin: 30px 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.card-img-top {
    border-radius: 5px 5px 0 0;
}

.btn-primary {
    display: block;
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Remove the .row and .col-sm-12 classes */

/* Adjust the .col-lg-4 class for responsiveness */
.col-lg-4 {
    flex: 0 0 100%; /* Full width on small screens */
    max-width: 100%;
}

/* Responsive styling using Bootstrap classes */
@media (min-width: 576px) {
    .col-lg-4 {
        flex: 0 0 50%; /* Half width on medium screens */
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .col-lg-4 {
        flex: 0 0 33.3333%; /* One-third width on large screens */
        max-width: 33.3333%;
    }
}