body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}

.btn{
    margin-top: 30px;
}

#load{
        margin-top: 150px;
        font-size: 2rem;    
        position: absolute;
        left: 72%;
        transform: translate(-50%, -50%);
        padding: 10px;

}

#Start{
        margin-top: 150px;
        font-size: 2rem;    
        position: absolute;
        left: 28%;
        transform: translate(-50%, -50%);
        padding: 10px;

}

#jump{
    margin-top: 116px;
    font-size: 2rem;
    left: 46%;
    position: absolute;
}



#command{
    font-size: 3rem;
}


#mainframe{
    width: 750px;
    height: 250px;
}