body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}

.btn{
    margin-top: 30px;
    font-size: 20px;
}